body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  background: #ffffff;
  margin: 0;
}
.header .container {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  /* gap: 40px; */
  align-items: center;
}

nav > .nav,
.address > .nav {
  gap: 40px;
}

.header .container {
  display: flex;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container > a {
  display: flex;
}

.logo-heder {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-heder .logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

address {
  font-style: normal;
  color: #434455;
  margin-left: auto;
}

.address .link {
  color: #434455;
  font-weight: 400;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
  position: relative;
}

.link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;

  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.link:hover,
.link:focus,
.link.current {
  color: #404bbf;
}
/* section-1 */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

div .container {
  margin: 0;
  padding: 0;

  /* height: 600px; */
}

.section-title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;

  display: block;
}

.section-title {
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-ofice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  display: block;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* section-2 */

.section-skils {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skil {
  display: flex;
  gap: 24px;
}

.skil-item {
  width: calc((100% - 72px) / 4);
}

.skil-item-icon {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.skil-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.skil-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section-3 */

.team-list-section {
  background: #f4f4fd;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
  /* padding: 0 15px; */
  /* width: calc((100% - 72px) / 4); */
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.card-specialist {
  gap: 24px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.card-title {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-specialist {
  margin-bottom: 8px;
}

.social-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-link-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #fff;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:hover,
.social-link-icon:focus {
  background-color: #404bbf;
}

.team-social-icon {
  fill: #f4f4fd;
}

/* section4 */
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  /* padding: 0 15px; */
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.name-taem-specialist {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-specialist {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.card-specialist {
  background: #ffffff;
}

.title-portfolio-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.project-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.sam {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

/* footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer > .container > a {
  display: inline-block;
}

.footer > .container {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: 120px; */
  align-items: baseline;
}

.logo-heder-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 16px;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-container {
  margin-right: 120px;
}

/* .footer-social {
  display: block;
  margin-bottom: 16px;
} */

.footer-social-link-title {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-social .social-link-list {
  gap: 16px;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social .social-link-icon:hover,
.footer-social .social-link-icon:focus {
  background-color: #31d0aa;
}
/* --------subscribe----------- */
.subscribe {
  margin-left: auto;
}
.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-label {
  display: block;
  gap: 24px;
  margin: 0;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  border: none;
  outline: none;
  line-height: 2;
  letter-spacing: 0.04em;

  border: 1px solid #fff;
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  width: 264px;
  /* margin-right: 24px; */
  padding-left: 16px;
  color: #fff;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form input::placeholder {
  color: #fff;
}

.footer-form input:focus {
  border: 2px solid #31d0aa;
}

.button-subscribe {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* gap: 16px; */
}

.button-subscribe:hover,
.button-subscribe:focus {
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.05);
  background: #31d0aa;
}

.button-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/* ------modal------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  border-radius: 50%;
  top: 24px;
  right: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: #ffffff;
}

.modal-text {
  margin: 0 auto 16px;
  text-align: center;
  font-weight: 500;
  color: #2e2f42;
}

.backdrop-form {
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 16px;
}

.form-label {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  border: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;

  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment {
  /* border: none; */
  background-color: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-input:focus,
textarea:focus {
  border: 1px solid #4d5ae5;
}

.form-input:focus + svg {
  fill: #4d5ae5;
}

/* ----checkbox----- */

.checkbox-element {
  /* visibility: hidden; */
  position: absolute;
}

.checkbox label {
  /* display: flex; */
  align-items: center;
  cursor: pointer;
}

.castom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox-icon {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked + label > .castom-checkbox {
  border: none;
  fill: #f4f4fd;
  background-color: #404bbf;
}

.checkbox {
  margin-bottom: 24px;
}
